In [3]:
pip install kagglehub

Requirement already satisfied: kagglehub in /usr/local/python/3.14.2/lib/python3.14/site-packages (0.3.13)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.14/site-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in /usr/local/python/3.14.2/lib/python3.14/site-packages (from kagglehub) (6.0.3)
Requirement already satisfied: requests in /usr/local/python/3.14.2/lib/python3.14/site-packages (from kagglehub) (2.32.5)
Requirement already satisfied: tqdm in /usr/local/python/3.14.2/lib/python3.14/site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from requests->kagglehub) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from requests->kagglehub) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from requests->kagglehub) (2.6.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from requests->kagglehub) (2025.11.12)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ethon0426/lending-club-20072020q1")

print("Path to dataset files:", path)

/usr/local/python/3.14.2/lib/python3.14/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/ethon0426/lending-club-20072020q1?dataset_version_number=3...

100%|██████████| 482M/482M [00:31<00:00, 16.1MB/s]

Extracting files...

Path to dataset files: /home/codespace/.cache/kagglehub/datasets/ethon0426/lending-club-20072020q1/versions/3

In [5]:
mv -r '/home/codespace/.cache/kagglehub/datasets/ethon0426/lending-club-20072020q1/versions/3/' '/workspaces/codespaces-blank/data/'

In [6]:
pip install pandas numpy

Requirement already satisfied: pandas in /usr/local/python/3.14.2/lib/python3.14/site-packages (2.3.3)
Requirement already satisfied: numpy in /usr/local/python/3.14.2/lib/python3.14/site-packages (2.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.14/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.14/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd
import numpy as np

In [8]:
ls /workspaces/codespaces-blank/data

3/  LCDataDictionary.xlsx  Loan_status_2007-2020Q3.gzip  sampled_data.csv

In [9]:
pd.set_option('display.max_columns', None)

In [10]:
pip install notebook

Requirement already satisfied: notebook in /usr/local/python/3.14.2/lib/python3.14/site-packages (7.5.1)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from notebook) (2.17.0)
Requirement already satisfied: jupyterlab-server<3,>=2.28.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from notebook) (2.28.0)
Requirement already satisfied: jupyterlab<4.6,>=4.5.1 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from notebook) (4.5.1)
Requirement already satisfied: notebook-shim<0.3,>=0.2 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from notebook) (0.2.4)
Requirement already satisfied: tornado>=6.2.0 in /home/codespace/.local/lib/python3.14/site-packages (from notebook) (6.5.4)
Requirement already satisfied: anyio>=3.1.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->notebook) (4.12.0)
Requirement already satisfied: argon2-cffi>=21.1 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->notebook) (25.1.0)
Requirement already satisfied: jinja2>=3.0.3 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->notebook) (3.1.6)
Requirement already satisfied: jupyter-client>=7.4.4 in /home/codespace/.local/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->notebook) (8.7.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /home/codespace/.local/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->notebook) (5.9.1)
Requirement already satisfied: jupyter-events>=0.11.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->notebook) (0.12.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->notebook) (0.5.3)
Requirement already satisfied: nbconvert>=6.4.4 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->notebook) (7.16.6)
Requirement already satisfied: nbformat>=5.3.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->notebook) (5.10.4)
Requirement already satisfied: packaging>=22.0 in /home/codespace/.local/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->notebook) (25.0)
Requirement already satisfied: prometheus-client>=0.9 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->notebook) (0.23.1)
Requirement already satisfied: pyzmq>=24 in /home/codespace/.local/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->notebook) (27.1.0)
Requirement already satisfied: send2trash>=1.8.2 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->notebook) (2.0.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->notebook) (0.18.1)
Requirement already satisfied: traitlets>=5.6.0 in /home/codespace/.local/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->notebook) (5.14.3)
Requirement already satisfied: websocket-client>=1.7 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->notebook) (1.9.0)
Requirement already satisfied: async-lru>=1.0.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyterlab<4.6,>=4.5.1->notebook) (2.0.5)
Requirement already satisfied: httpx<1,>=0.25.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyterlab<4.6,>=4.5.1->notebook) (0.28.1)
Requirement already satisfied: ipykernel!=6.30.0,>=6.5.0 in /home/codespace/.local/lib/python3.14/site-packages (from jupyterlab<4.6,>=4.5.1->notebook) (7.1.0)
Requirement already satisfied: jupyter-lsp>=2.0.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyterlab<4.6,>=4.5.1->notebook) (2.3.0)
Requirement already satisfied: setuptools>=41.1.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyterlab<4.6,>=4.5.1->notebook) (80.9.0)
Requirement already satisfied: certifi in /usr/local/python/3.14.2/lib/python3.14/site-packages (from httpx<1,>=0.25.0->jupyterlab<4.6,>=4.5.1->notebook) (2025.11.12)
Requirement already satisfied: httpcore==1.* in /usr/local/python/3.14.2/lib/python3.14/site-packages (from httpx<1,>=0.25.0->jupyterlab<4.6,>=4.5.1->notebook) (1.0.9)
Requirement already satisfied: idna in /usr/local/python/3.14.2/lib/python3.14/site-packages (from httpx<1,>=0.25.0->jupyterlab<4.6,>=4.5.1->notebook) (3.11)
Requirement already satisfied: h11>=0.16 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from httpcore==1.*->httpx<1,>=0.25.0->jupyterlab<4.6,>=4.5.1->notebook) (0.16.0)
Requirement already satisfied: babel>=2.10 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyterlab-server<3,>=2.28.0->notebook) (2.17.0)
Requirement already satisfied: json5>=0.9.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyterlab-server<3,>=2.28.0->notebook) (0.13.0)
Requirement already satisfied: jsonschema>=4.18.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyterlab-server<3,>=2.28.0->notebook) (4.25.1)
Requirement already satisfied: requests>=2.31 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyterlab-server<3,>=2.28.0->notebook) (2.32.5)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/python/3.14.2/lib/python3.14/site-packages (from argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook) (25.1.0)
Requirement already satisfied: comm>=0.1.1 in /home/codespace/.local/lib/python3.14/site-packages (from ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (0.2.3)
Requirement already satisfied: debugpy>=1.6.5 in /home/codespace/.local/lib/python3.14/site-packages (from ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (1.8.19)
Requirement already satisfied: ipython>=7.23.1 in /home/codespace/.local/lib/python3.14/site-packages (from ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (9.8.0)
Requirement already satisfied: matplotlib-inline>=0.1 in /home/codespace/.local/lib/python3.14/site-packages (from ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (0.2.1)
Requirement already satisfied: nest-asyncio>=1.4 in /home/codespace/.local/lib/python3.14/site-packages (from ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (1.6.0)
Requirement already satisfied: psutil>=5.7 in /home/codespace/.local/lib/python3.14/site-packages (from ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (7.2.1)
Requirement already satisfied: decorator>=4.3.2 in /home/codespace/.local/lib/python3.14/site-packages (from ipython>=7.23.1->ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers>=1.0.0 in /home/codespace/.local/lib/python3.14/site-packages (from ipython>=7.23.1->ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (1.1.1)
Requirement already satisfied: jedi>=0.18.1 in /home/codespace/.local/lib/python3.14/site-packages (from ipython>=7.23.1->ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (0.19.2)
Requirement already satisfied: pexpect>4.3 in /home/codespace/.local/lib/python3.14/site-packages (from ipython>=7.23.1->ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /home/codespace/.local/lib/python3.14/site-packages (from ipython>=7.23.1->ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (3.0.52)
Requirement already satisfied: pygments>=2.11.0 in /home/codespace/.local/lib/python3.14/site-packages (from ipython>=7.23.1->ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (2.19.2)
Requirement already satisfied: stack_data>=0.6.0 in /home/codespace/.local/lib/python3.14/site-packages (from ipython>=7.23.1->ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (0.6.3)
Requirement already satisfied: wcwidth in /home/codespace/.local/lib/python3.14/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython>=7.23.1->ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /home/codespace/.local/lib/python3.14/site-packages (from jedi>=0.18.1->ipython>=7.23.1->ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (0.8.5)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jinja2>=3.0.3->jupyter-server<3,>=2.4.0->notebook) (3.0.3)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.28.0->notebook) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.28.0->notebook) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.28.0->notebook) (0.37.0)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.28.0->notebook) (0.30.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.14/site-packages (from jupyter-client>=7.4.4->jupyter-server<3,>=2.4.0->notebook) (2.9.0.post0)
Requirement already satisfied: platformdirs>=2.5 in /home/codespace/.local/lib/python3.14/site-packages (from jupyter-core!=5.0.*,>=4.12->jupyter-server<3,>=2.4.0->notebook) (4.5.1)
Requirement already satisfied: python-json-logger>=2.0.4 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook) (4.0.0)
Requirement already satisfied: pyyaml>=5.3 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook) (6.0.3)
Requirement already satisfied: rfc3339-validator in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook) (0.1.1)
Requirement already satisfied: fqdn in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook) (1.5.1)
Requirement already satisfied: isoduration in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook) (3.0.0)
Requirement already satisfied: rfc3987-syntax>=1.1.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook) (1.1.0)
Requirement already satisfied: uri-template in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook) (1.3.0)
Requirement already satisfied: webcolors>=24.6.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook) (25.10.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (4.14.3)
Requirement already satisfied: bleach!=5.0.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from bleach[css]!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (6.3.0)
Requirement already satisfied: defusedxml in /usr/local/python/3.14.2/lib/python3.14/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /usr/local/python/3.14.2/lib/python3.14/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (0.3.0)
Requirement already satisfied: mistune<4,>=2.0.3 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (3.2.0)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (0.10.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (1.5.1)
Requirement already satisfied: webencodings in /usr/local/python/3.14.2/lib/python3.14/site-packages (from bleach!=5.0.0->bleach[css]!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (0.5.1)
Requirement already satisfied: tinycss2<1.5,>=1.1.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from bleach[css]!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (1.4.0)
Requirement already satisfied: fastjsonschema>=2.15 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from nbformat>=5.3.0->jupyter-server<3,>=2.4.0->notebook) (2.21.2)
Requirement already satisfied: ptyprocess>=0.5 in /home/codespace/.local/lib/python3.14/site-packages (from pexpect>4.3->ipython>=7.23.1->ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (0.7.0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.14/site-packages (from python-dateutil>=2.8.2->jupyter-client>=7.4.4->jupyter-server<3,>=2.4.0->notebook) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from requests>=2.31->jupyterlab-server<3,>=2.28.0->notebook) (3.4.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from requests>=2.31->jupyterlab-server<3,>=2.28.0->notebook) (2.6.2)
Requirement already satisfied: lark>=1.2.2 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from rfc3987-syntax>=1.1.0->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook) (1.3.1)
Requirement already satisfied: executing>=1.2.0 in /home/codespace/.local/lib/python3.14/site-packages (from stack_data>=0.6.0->ipython>=7.23.1->ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in /home/codespace/.local/lib/python3.14/site-packages (from stack_data>=0.6.0->ipython>=7.23.1->ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (3.0.1)
Requirement already satisfied: pure-eval in /home/codespace/.local/lib/python3.14/site-packages (from stack_data>=0.6.0->ipython>=7.23.1->ipykernel!=6.30.0,>=6.5.0->jupyterlab<4.6,>=4.5.1->notebook) (0.2.3)
Requirement already satisfied: cffi>=2.0.0b1 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook) (2.0.0)
Requirement already satisfied: pycparser in /usr/local/python/3.14.2/lib/python3.14/site-packages (from cffi>=2.0.0b1->argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook) (2.23)
Requirement already satisfied: soupsieve>=1.6.1 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (2.8.1)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (4.15.0)
Requirement already satisfied: arrow>=0.15.0 in /usr/local/python/3.14.2/lib/python3.14/site-packages (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook) (1.4.0)
Requirement already satisfied: tzdata in /usr/local/python/3.14.2/lib/python3.14/site-packages (from arrow>=0.15.0->isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook) (2025.3)
Note: you may need to restart the kernel to use updated packages.

In [11]:
dataset_5_row = (pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", nrows=5))

In [12]:
dataset_5_row

,Unnamed: 0,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag
0,0,1077501,5000,5000,4975,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000,Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,Computer,860xx,AZ,27.65,0,Jan-1985,735,739,1,NaN,NaN,3,0,13648,83.7%,9,f,0.0,0.0,5863.155187,5833.84,5000.00,863.16,0.00,0.0,0.00,Jan-2015,171.62,NaN,May-2020,704,700,0,NaN,1,Individual,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,1,1077430,2500,2500,2500,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000,Source Verified,Dec-2011,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,car,bike,309xx,GA,1.00,0,Apr-1999,740,744,5,NaN,NaN,3,0,1687,9.4%,4,f,0.0,0.0,1014.530000,1014.53,456.46,435.17,0.00,122.9,1.11,Apr-2013,119.66,NaN,Oct-2016,499,0,0,NaN,1,Individual,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,2,1077175,2400,2400,2400,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252,Not Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,small_business,real estate business,606xx,IL,8.72,0,Nov-2001,735,739,2,NaN,NaN,2,0,2956,98.5%,10,f,0.0,0.0,3005.666844,3005.67,2400.00,605.67,0.00,0.0,0.00,Jun-2014,649.91,NaN,Jun-2017,739,735,0,NaN,1,Individual,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
3,3,1076863,10000,10000,10000,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200,Source Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,personel,917xx,CA,20.00,0,Feb-1996,690,694,1,35.0,NaN,10,0,5598,21%,37,f,0.0,0.0,12231.890000,12231.89,10000.00,2214.92,16.97,0.0,0.00,Jan-2015,357.48,NaN,Apr-2016,604,600,0,NaN,1,Individual,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,4,1075358,3000,3000,3000,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000,Source Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,Personal,972xx,OR,17.94,0,Jan-1996,695,699,0,38.0,NaN,15,0,27783,53.9%,38,f,0.0,0.0,4066.908161,4066.91,3000.00,1066.91,0.00,0.0,0.00,Jan-2017,67.30,NaN,Apr-2018,684,680,0,NaN,1,Individual,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [13]:
col_desc = pd.read_excel("/workspaces/codespaces-blank/data/LCDataDictionary.xlsx")
col_desc

               LoanStatNew                                        Description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

In [14]:
y = pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", usecols=['loan_status'])

In [15]:
y.value_counts()

loan_status
Fully Paid                                             1497783
Current                                                1031016
Charged Off                                             362548
Late (31-120 days)                                       16154
In Grace Period                                          10028
Late (16-30 days)                                         2719
Issued                                                    2062
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                    433
Name: count, dtype: int64

In [16]:
## sampling
mini_batches = []
chunk_size=50000

for chunk in pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", chunksize=chunk_size):
  chunk = chunk[chunk['loan_status'].isin(['Fully Paid', 'Charged Off', 'Default'])]
  if(not chunk.empty):
    sampled_chunk = chunk.groupby('loan_status').sample(frac=0.2, random_state=42)
    mini_batches.append(sampled_chunk)

/tmp/ipykernel_14159/4054103494.py:5: DtypeWarning: Columns (1,48,127,128,129,132,133,134,137) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", chunksize=chunk_size):
/tmp/ipykernel_14159/4054103494.py:5: DtypeWarning: Columns (127,128,129,132,133,134,137) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", chunksize=chunk_size):
/tmp/ipykernel_14159/4054103494.py:5: DtypeWarning: Columns (127,128,129,132,133,134,137) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", chunksize=chunk_size):
/tmp/ipykernel_14159/4054103494.py:5: DtypeWarning: Columns (48,58,117,127,128,129,132,133,134,137) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", chunksize=chunk_size):
/tmp/ipykernel_14159/4054103494.py:5: DtypeWarning: Columns (48,58,117) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", chunksize=chunk_size):
/tmp/ipykernel_14159/4054103494.py:5: DtypeWarning: Columns (48) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", chunksize=chunk_size):
/tmp/ipykernel_14159/4054103494.py:5: DtypeWarning: Columns (127,128,129,132,133,134,137) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", chunksize=chunk_size):
/tmp/ipykernel_14159/4054103494.py:5: DtypeWarning: Columns (127,128,129,132,133,134,137) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", chunksize=chunk_size):
/tmp/ipykernel_14159/4054103494.py:5: DtypeWarning: Columns (48,58,117) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", chunksize=chunk_size):
/tmp/ipykernel_14159/4054103494.py:5: DtypeWarning: Columns (127,128,129,132,133,134,137) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", chunksize=chunk_size):
/tmp/ipykernel_14159/4054103494.py:5: DtypeWarning: Columns (117) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", chunksize=chunk_size):
/tmp/ipykernel_14159/4054103494.py:5: DtypeWarning: Columns (58) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", chunksize=chunk_size):
/tmp/ipykernel_14159/4054103494.py:5: DtypeWarning: Columns (58) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", chunksize=chunk_size):
/tmp/ipykernel_14159/4054103494.py:5: DtypeWarning: Columns (58) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", chunksize=chunk_size):
/tmp/ipykernel_14159/4054103494.py:5: DtypeWarning: Columns (58) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", chunksize=chunk_size):
/tmp/ipykernel_14159/4054103494.py:5: DtypeWarning: Columns (117) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", chunksize=chunk_size):
/tmp/ipykernel_14159/4054103494.py:5: DtypeWarning: Columns (117) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("/workspaces/codespaces-blank/data/Loan_status_2007-2020Q3.gzip", chunksize=chunk_size):

In [17]:
dataset = pd.concat(mini_batches)

In [18]:
dataset

,Unnamed: 0,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag
21305,21305,646020,10000.0,10000.0,10000.000000,36 months,10.36%,324.37,B,B5,Riva Restaurant,10+ years,RENT,40000.0,Source Verified,Jan-2011,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,get outta debt,606xx,IL,16.17,0.0,May-1994,700.0,704.0,0.0,33.0,66.0,9.0,1.0,14555.0,90.4%,20.0,f,0.0,0.0,3892.440000,3892.44,2992.82,895.42,0.0,4.20,0.0000,Jan-2012,324.37,NaN,May-2020,684.0,680.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
24970,24970,585502,16000.0,16000.0,15950.000000,60 months,16.45%,392.93,E,E1,Microfinance International,5 years,RENT,60000.0,Not Verified,Oct-2010,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Fix car in order to sell and pay cc,223xx,VA,16.60,0.0,Mar-1999,705.0,709.0,0.0,NaN,NaN,4.0,0.0,18607.0,92.6%,11.0,f,0.0,0.0,4950.160000,4934.76,2040.67,2270.34,0.0,639.15,10.6800,Sep-2011,392.93,NaN,Nov-2018,734.0,730.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2478,2478,1035817,20000.0,20000.0,19975.000000,60 months,18.25%,510.60,D,D5,UC Health,10+ years,MORTGAGE,51400.0,Verified,Dec-2011,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Faith,452xx,OH,11.49,0.0,May-1992,680.0,684.0,0.0,NaN,NaN,16.0,0.0,22331.0,84.9%,46.0,f,0.0,0.0,13806.760000,13789.64,5611.13,6130.48,0.0,2065.15,20.6296,Dec-2013,46.92,NaN,Oct-2016,609.0,605.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
38167,38167,288651,3000.0,3000.0,1224.999436,36 months,10.51%,97.53,B,B2,Fontana Nutritional Center,8 years,MORTGAGE,40000.0,Not Verified,Nov-2008,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,get rid of high interest cards,923xx,CA,16.08,0.0,May-1999,725.0,729.0,2.0,NaN,NaN,23.0,0.0,14582.0,26.7%,31.0,f,0.0,0.0,1755.540000,716.05,1381.27,372.47,0.0,1.80,0.0000,Jun-2010,97.53,NaN,May-2020,789.0,785.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
39462,39462,212894,3250.0,3250.0,1899.997337,36 months,7.75%,101.47,A,A3,NC State University WebAssign,4 years,OWN,36000.0,Not Verified,Jan-2008,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Paying for Grad School,283xx,NC,2.73,0.0,Jan-2001,740.0,744.0,0.0,0.0,0.0,5.0,0.0,2353.0,12.4%,7.0,f,0.0,0.0,1708.930000,998.81,1351.31,271.41,0.0,86.21,0.9800,May-2009,101.47,NaN,Oct-2016,564.0,560.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2910615,90573,105163370,11750.0,11750.0,11750.000000,36 months,11.49%,387.42,B,B5,Supervisor - Contracting and Reimbursmen,3 years,MORTGAGE,72300.0,Source Verified,Apr-2017,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,770xx,TX,22.71,0.0,Apr-1996,700.0,704.0,0.0,NaN,NaN,28.0,0.0,21533.0,38.5%,45.0,w,0.0,0.0,12333.514856,12333.51,11750.00,583.51,0.0,0.00,0.0000,Oct-2017,10456.41,NaN,Apr-2018,769.0,765.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,33847.0,0.0,1.0,0.0,1.0,20.0,12314.0,52.0,1.0,11.0,8470.0,43.0,56000.0,0.0,3.0,1.0,12.0,1410.0,7060.0,74.1,0.0,0.0,252.0,172.0,8.0,8.0,2.0,13.0,NaN,8.0,NaN,0.0,5.0,7.0,9.0,13.0,9.0,27.0,33.0,7.0,28.0,0.0,0.0,0.0,1.0,100.0,50.0,0.0,0.0,79600.0,33847.0,27300.0,23600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2904675,84633,106504271,8000.0,8000.0,8000.000000,36 months,14.99%,277.29,C,C4,Technical specialist,6 years,MORTGAGE,90000.0,Source Verified,Apr-2017,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,481xx,MI,17.64,0.0,Feb-2011,685.0,689.0,0.0,44.0,38.0,10.0,3.0,9983.0,45.6%,15.0,w,0.0,0.0,9968.820000,9968.82,8000.00,1968.82,0.0,0.00,0.0000,Apr-2020,276.99,NaN,May-2020,629.0,625.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,222595.0,1.0,2.0,0.0,2.0,17.0,18423.0,41.0,4.0,6.0,1857.0,43.0,21900.0,2.0,0.0,4.0,9.0,22260.0,3643.0,33.8,0.0,0.0,74.0,63.0,6.0,6.0,1.0,7.0,NaN,7.0,44.0,0.0,1.0,4.0,4.0,5.0,4.0,7.0,10.0,4.0,10.0,0.0,0.0,0.0,5.0,93.3,25.0,0.0,3.0,262703.0,28406.0,5500.0,44525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2910882,90840,105668947,9000.0,9000.0,9000.000000,36 months,11.49%,296.75,B,B5,Mail carrier,10+ years,OWN,64000.0,Not Verified,Apr-2017,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,559xx,MN,27.64,0.0,Apr-1997,720.0,724.0,0.0,NaN,NaN,8.0,0.0,15217.0,76.1%,14.0,w,0.0,0.0,9396.979121,9396.98,9000.00,396.98,0.0,0.00,0.0000,Sep-2017,20.79,NaN,May-2020,729.0,725.0,0.0,NaN,1.0,Joint App,111000.0,30.5,Not Verified,0.0,0.0,102722.0,0.0,2.0,0.0,1.0,13.0,24810.0,52.0,0.0,2.0,5929.0,59.0,20000.0,0.0,6.0,0.0,3.0,12840.0,313.0,97.2,0.0,0.0,126.0,240.0,19.0,13.0,3.0,21.0,NaN,19.0,NaN,0.0,2.0,5.0,2.0,3.0,5.0,5.0,6.0,5.0,8.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,147381.0,40027.0,11200.0,47881.0,67676.0,710.0,714.0,Oct-1987,0.0,4.0,22.0,72.1,2.0,34.0,0.0,0.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2920683,100641,104302384,35000.0,35000.0,35000.000000,60 months,15.99%,850.95,C,C5,Border Patrol Agent,8 years,MORTGAGE,118000.0,Verified,Apr-2017,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,925xx,CA,20.51,0.0,Mar-2005,680.0,684.0,0.0,NaN,NaN,11.0,0.0,31715.0,85.5%,25.0,w,0.0,0.0,45104.783541,45104.78,35000.00,10104.78,0.0,0.00,0.0000,May-2019,24713.07,NaN,May-2020,704.0,700.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,377577.0,0.0,3.0,0.0,1.0,21.0,24407.0,48.0,1.0,4.0,9983.0,64.0,37100.0,1.0,7.0,2.0,7.0,34325.0,140.0,99.2,0.0,0.0,104.0,144.0,11.0,11.0,2.0,18.0,NaN,7.0,NaN,0.0,3.0,7.0,3.0,4.0,10.0,7.0,13.0,7.0,10.0,0.0,0.0,0.0,2.0,100.0,100.0,0.0,0.0,415890.0,56122.0,17000.0,50771.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2900512,80470,106856462,16000.0,16000.0,16000.000000,36 months,16.99%,570.37,D,D1,Director of Client Services,2 years,RENT,50000.0,Not Verified,May-2017,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,452xx,OH,31.66,1.0,Oct-1994,680.0,684.0,1.0,14.0,72.0,13.0,1.0,19207.0,61.2%,22.0,f,0.0,0.0,18732.792131,18732.79,16000.00,2732.79,0.0,0.00,0.0000,Jul-2018,11333.08,NaN,Jan-2019,684.0,680.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,160.0,34625.0,2.0,3.0,1.0,2.0,4.0,15418.0,49.0,1.0,1.0,7480.0,55.0,31400.0,1.0,1.0,1.0,3.0,2663.0,6759.0,72.0,0.0,0.0,58.0,270.0,6.0,4.0,1.0,6.0,14.0,4.0,14.0,0.0,5.0,7.0,6.0,9.0,4.0,10.0,17.0,7.0,13.0,0.0,0.0,0.0,2.0,85.7,50.0,0.0,0.0,62967.0,34625.0,24100.0,31567.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [19]:
dataset.drop(columns=['Unnamed: 0']).to_csv("/workspaces/codespaces-blank/data/sampled_data.csv", index=False)